<li
  class="ml-0 basis-[100%] mr-[1em] min-[370px]:basis-[44%] min-[720px]:basis-[30%]"
>
  <article>
    <a href="#">
      <img
        class="object-cover object-top w-full h-full max-h-[300px]"
        src="./assets/images/pexels-waldir-évora-15037775.jpg"
        width="4480"
        height="6720"
        alt="foto de perfil, Manolo Urtado"
      />
    </a>
    <a class="link-underline link-underline-opacity-0" href="#">
      <h2 class="hover:text-blue-800 text-[#a45120] font-sans text-2xl">
        Manolo Urtado
      </h2>
    </a>
    <p class="text-base font-normal font-sans">
      Es amateur pero te da lecciones de juego muy importantes. Si estás
      empezando y no quieres arriesgar este es tu perfil. Entra y contacta con
      él.
    </p>
  </article>
</li>
